.main {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 168px auto 144px;
  grid-template-areas: 
  'header' 
  'main' 
  'footer';
  background-color: #f3f1f0;
  .header {
    grid-column: span 12;
    position: fixed;
    z-index: 9999;
    background-color: lightgrey;
    top:0;
    left: 0;
    right:0;
    grid-area: header;
    display: flex;
    justify-content: space-between;
    padding: 56px 55px;
    align-items: flex-start;
    .logo {
      width: 27px;
      height: 28px;
      object-fit: contain;
    }
  }
  .content {
    grid-area: main;
    grid-column: span 12;
    .loadBtn {
      text-align: center;
      padding-bottom: 80px;
      button {
        border: none;
        font-family: IBMPlexSans;
        font-size: 18px;
        font-weight: normal;
        &:hover {
          color: #d0455e;
        }
        &:focus {
          outline: none;
        }
      }
    }
  }
  .footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    grid-column: span 12;
    grid-area: footer;
    font-family: IBMPlexSans;
    font-size: 18px;
    text-align: center;
    padding: 40px 0 80px 0;
    background-color: #ffffff;
    color: #999999;
  }
}
.main.error {
  background-color: #ffffff;
}
