.nav{
  font-family: IBMPlexSerif;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-decoration: none;
  color: #333333;
  margin: 0 12px;
  border: none;
  &:hover{
    color: #d0455e;
    transition: .6s all;
  }
}
.nav.active{
  padding: 4px 16px 5px;
  border-radius: 16px;
  background-color: #ffffff;
}